<div class="list-group">

<% @result.each do |item| %>
<a href="<%= item["Item"]["affiliateUrl"] %>" class="list-group-item">
  <img src=<%= item["Item"]["mediumImageUrl"] %> alt=<%= item["Item"]["title"] %> class="img-rounded" />
  <span class="list-group-item-text"><%= item["Item"]["title"] %></span>
</a>
<% end %>

</div>
